torch
transformers
peft
trl
accelerate
bitsandbytes
datasets
torchao==0.16.0
clearml
pandas
numpy
jsonschema
scikit-learn
fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq
langchain-core
chromadb
sentence-transformers
